In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb

In [2]:
train1 = pd.read_csv('train1')
test1 = pd.read_csv('test1')
test2 = pd.read_csv('test2')

In [3]:
X_train = train1.drop(['target'], axis = 1)
Y_train = train1['target']
X_test1 = test1.drop(['target'], axis = 1)
Y_test1 = test1['target']
X_test2 = test2.drop(['target'], axis = 1)
Y_test2 = test2['target']

In [4]:
X_train = X_train[['P_2', 'B_1', 'B_9', 'D_44', 'D_42', 'B_3', 'S_3', 'D_45', 'D_48', 'D_51', 'R_1', 'B_7', 'D_66', 'R_27', 'D_43', 'B_2', 'B_11','D_50', 'B_38', 'D_132', 'B_4', 'D_41', 'S_23', 'D_62', 'B_39','D_75', 'D_77', 'B_18', 'D_46', 'B_5', 'R_3', 'D_49', 'R_26','D_56', 'CO', 'S_2', 'B_6', 'B_10', 'D_61', 'D_52', 'S_7', 'O','D_55', 'D_112', 'P_3']]
X_test1 = X_test1[['P_2', 'B_1', 'B_9', 'D_44', 'D_42', 'B_3', 'S_3', 'D_45', 'D_48', 'D_51', 'R_1', 'B_7', 'D_66', 'R_27', 'D_43', 'B_2', 'B_11','D_50', 'B_38', 'D_132', 'B_4', 'D_41', 'S_23', 'D_62', 'B_39','D_75', 'D_77', 'B_18', 'D_46', 'B_5', 'R_3', 'D_49', 'R_26','D_56', 'CO', 'S_2', 'B_6', 'B_10', 'D_61', 'D_52', 'S_7', 'O','D_55', 'D_112', 'P_3']]
X_test2 = X_test2[['P_2', 'B_1', 'B_9', 'D_44', 'D_42', 'B_3', 'S_3', 'D_45', 'D_48', 'D_51', 'R_1', 'B_7', 'D_66', 'R_27', 'D_43', 'B_2', 'B_11','D_50', 'B_38', 'D_132', 'B_4', 'D_41', 'S_23', 'D_62', 'B_39','D_75', 'D_77', 'B_18', 'D_46', 'B_5', 'R_3', 'D_49', 'R_26','D_56', 'CO', 'S_2', 'B_6', 'B_10', 'D_61', 'D_52', 'S_7', 'O','D_55', 'D_112', 'P_3']]

In [12]:
xgb_instance = xgb.XGBClassifier(n_estimators=300, learning_rate = 0.1, subsample = 0.8, colsample_bytree = 0.5, scale_pos_weight = 1, random_state = 7)
final_model = xgb_instance.fit(X_train, Y_train)

In [13]:
X_train['y_pred'] = final_model.predict_proba(X_train)[:,1]
X_test1['y_pred'] = final_model.predict_proba(X_test1)[:,1]
X_test2['y_pred'] = final_model.predict_proba(X_test2)[:,1]

In [14]:
X_train = X_train[['B_1', 'S_23',"y_pred"]]
X_test1 = X_test1[['B_1', 'S_23',"y_pred"]]
X_test2 = X_test2[['B_1', 'S_23',"y_pred"]]

In [15]:
X_train["Default"] = 0
X_test1["Default"] = 0
X_test2["Default"] = 0
X_train["Rev"] = 0
X_test1["Rev"] = 0
X_test2["Rev"] = 0

C:\Users\nagas\AppData\Local\Temp\ipykernel_17724\1256259881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["Default"] = 0
C:\Users\nagas\AppData\Local\Temp\ipykernel_17724\1256259881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train["Rev"] = 0

In [16]:
X_train

             B_1      S_23    y_pred  Default  Rev
0       0.001073  0.134267  0.001357        0    0
1       0.434504  0.798062  0.786122        0    0
2       0.028340  0.134064  0.001341        0    0
3       0.238893  0.136200  0.236458        0    0
4       0.103340  0.136306  0.894086        0    0
...          ...       ...       ...      ...  ...
309092  0.009018  0.131020  0.010568        0    0
309093  0.006334  0.140425  0.001686        0    0
309094  0.114602  0.422909  0.879383        0    0
309095  0.766902  0.132474  0.868995        0    0
309096  0.054353  0.137422  0.002074        0    0

[309097 rows x 5 columns]

In [17]:
X_test1

            B_1      S_23    y_pred  Default  Rev
0      0.008724  0.135561  0.001984        0    0
1      0.017013  0.133085  0.001064        0    0
2      0.026205  0.139757  0.005920        0    0
3      0.166906  0.136445  0.556159        0    0
4      0.007714  0.138574  0.007700        0    0
...         ...       ...       ...      ...  ...
74065  0.010277  0.134435  0.003267        0    0
74066  1.041623  0.133402  0.673453        0    0
74067  0.008440  0.131856  0.007701        0    0
74068  0.017485  0.137832  0.002975        0    0
74069  0.305358  0.139985  0.286193        0    0

[74070 rows x 5 columns]

In [18]:
X_test2

            B_1      S_23    y_pred  Default  Rev
0      0.458564  0.139275  0.286523        0    0
1      0.003852  0.135690  0.003681        0    0
2      0.494850  0.136997  0.659853        0    0
3      0.004584  0.139297  0.003185        0    0
4      0.023771  0.135327  0.027118        0    0
...         ...       ...       ...      ...  ...
75741  0.007775  0.138634  0.002166        0    0
75742  0.097767  0.136712  0.022978        0    0
75743  0.034086  0.137475  0.153744        0    0
75744  0.006718  0.138243  0.013207        0    0
75745  0.000077  0.131636  0.003176        0    0

[75746 rows x 5 columns]

In [19]:
X_train.to_csv("xtrain")

In [33]:
X_test1.to_csv("xt1")
X_test2.to_csv("xt2")

## BUILD FUNCTION FOR DEFAULT RATE AND REVENUE
#### INPUTS :
* Sample
* Target Var ('TARGET')
* THRESHOLD

In [39]:
def rev_gen(X,Y,thres):
    model = xgb.XGBClassifier(n_estimators=300, learning_rate = 0.1, subsample = 0.8, colsample_bytree = 0.5, scale_pos_weight = 1, random_state = 7)
    model.load_model("final_model.json")
    X_sam = X.drop([Y], axis = 1)
    X_sam = X_sam[['P_2', 'B_1', 'B_9', 'D_44', 'D_42', 'B_3', 'S_3', 'D_45', 'D_48', 'D_51', 'R_1', 'B_7', 'D_66', 'R_27', 'D_43', 'B_2', 'B_11','D_50', 'B_38', 'D_132', 'B_4', 'D_41', 'S_23', 'D_62', 'B_39','D_75', 'D_77', 'B_18', 'D_46', 'B_5', 'R_3', 'D_49', 'R_26','D_56', 'CO', 'S_2', 'B_6', 'B_10', 'D_61', 'D_52', 'S_7', 'O','D_55', 'D_112', 'P_3']]
    X_sam['y_pred'] = model.predict_proba(X_sam)[:,1]
    X_sam = X_sam[['B_1', 'S_23',"y_pred"]]
    Y_sam = X[Y]
    sam = pd.concat([X_sam,Y_sam],axis = 1)
    sam = sam[sam['y_pred']<thres]
    total = len(sam)
    sam2 = sam[sam['target']==1]
    default = len(sam2)
    default_rate = default/total
    print("The Total is ",total)
    print("The Default rate is ",default_rate)
    sam3 = sam[sam['target']==0]
    spend = sam3['S_23'].sum()
    balance = sam3['B_1'].sum()
    revenue = (balance*0.02)+(spend*0.01)
    print("The revenue is ",revenue)

In [21]:
rev_gen(train1,'target',0.1)

The Default rate is  0.01201387168689621
The revenue is  348.17187174167157

In [22]:
rev_gen(train1,'target',0.81)

The Default rate is  0.18291477515752091
The revenue is  685.1114673884825

In [23]:
rev_gen(train1,'target',0.44)

The Default rate is  0.0623593220338983
The revenue is  544.7080499400547

In [41]:
rev_gen(train1,'target',.58)

The Total is  239948
The Default rate is  0.09633337223064997
The revenue is  608.3038894521108

In [42]:
rev_gen(test1,'target',.58)

The Total is  59899
The Default rate is  0.11497687774420275
The revenue is  139.81091667065132

In [43]:
rev_gen(test2,'target',.58)

The Total is  55272
The Default rate is  0.09626935880735273
The revenue is  147.34601265074332

In [44]:
rev_gen(Data,'target',.58)

The Total is  355119
The Default rate is  0.09946806563433666
The revenue is  895.4608187735054

In [45]:
rev_gen(train1,'target',.35)

The Total is  209986
The Default rate is  0.04554113131351614
The revenue is  500.95707967277986

In [46]:
rev_gen(test1,'target',.35)

The Total is  52368
The Default rate is  0.06280553009471433
The revenue is  116.1647810926062

In [47]:
rev_gen(test2,'target',.35)

The Total is  47799
The Default rate is  0.046172514069331996
The revenue is  120.83842331441889

In [48]:
rev_gen(Data,'target',.35)

The Total is  310153
The Default rate is  0.04855345587500363
The revenue is  737.9602840798051

## GENERATE TABLE

In [24]:
def table_gen(X_sam,Y_sam,thres):
    sam = pd.concat([X_sam,Y_sam],axis = 1)
    sam = sam[sam['y_pred']<thres]
    total = len(sam)
    sam2 = sam[sam['target']==1]
    default = len(sam2)
    default_rate = default/total
    sam3 = sam[sam['target']==0]
    spend = sam3['S_23'].sum()
    balance = sam3['B_1'].sum()
    revenue = (balance*0.02)+(spend*0.01)
    Sample_1.loc[row,"Threshold"] = thres
    Sample_1.loc[row,"Total"] = total
    Sample_1.loc[row,"Default"] = default
    Sample_1.loc[row,"Default_Rate"] = default_rate
    Sample_1.loc[row,"Revenue"] = revenue

In [25]:
# WRITE TRAIN DATA
Sample_1 = pd.DataFrame(columns = ["Threshold", "Total", "Default", "Default_Rate", "Revenue"])
row = 0
length = 10
for t in range(1, length+1):
    table_gen(X_train,Y_train,t/length)
    row = row + 1
Sample_1

  Threshold   Total Default Default_Rate     Revenue
0       0.1  169554    2037     0.012014  348.171872
1       0.2  189475    4517      0.02384  418.807891
2       0.3  203627    7686     0.037745  474.947053
3       0.4  216190   11772     0.054452  525.409949
4       0.5  229028   17373     0.075855  572.693817
5       0.6  242847   24850     0.102328  616.281207
6       0.7  258346   35164     0.136112  653.689098
7       0.8  276295   49266     0.178309   682.73452
8       0.9  295925   66898     0.226064  700.103173
9       1.0  309097   79763     0.258052    703.4861

In [26]:
Sample_1.to_csv('SAMPLE_1.csv')

In [27]:
# WRITE TEST1 DATA
Sample_1 = pd.DataFrame(columns = ["Threshold", "Total", "Default", "Default_Rate", "Revenue"])
row = 0
length = 10
for t in range(1, length+1):
    table_gen(X_test1,Y_test1,t/length)
    row = row + 1
Sample_1

  Threshold  Total Default Default_Rate     Revenue
0       0.1  42027     866     0.020606   81.908294
1       0.2  47186    1745     0.036981   98.405053
2       0.3  50740    2696     0.053134  110.632875
3       0.4  53992    3909       0.0724  121.744072
4       0.5  57255    5430     0.094839  132.145874
5       0.6  60608    7316      0.12071  141.747745
6       0.7  64213    9665     0.150515  150.688771
7       0.8  68297   12670     0.185513  158.908306
8       0.9  72239   15876      0.21977  165.386982
9       1.0  74070   17497     0.236222  167.669675

In [28]:
Sample_1.to_csv('SAMPLE_TEST1.csv')

In [29]:
# WRITE TEST2 DATA
Sample_1 = pd.DataFrame(columns = ["Threshold", "Total", "Default", "Default_Rate", "Revenue"])
row = 0
length = 10
for t in range(1, length+1):
    table_gen(X_test2,Y_test2,t/10)
    row = row + 1
Sample_1

  Threshold  Total Default Default_Rate     Revenue
0       0.1  38165     500     0.013101   82.393357
1       0.2  42841    1040     0.024276  100.362444
2       0.3  46255    1749     0.037812  114.635487
3       0.4  49311    2724     0.055241  126.581774
4       0.5  52521    4000      0.07616  138.422846
5       0.6  56035    5712     0.101936  149.978272
6       0.7  59911    8105     0.135284  160.316034
7       0.8  64636   11522      0.17826  170.019142
8       0.9  70018   16098     0.229912  177.038929
9       1.0  75746   21568     0.284741  179.948039

In [30]:
Sample_1.to_csv('SAMPLE_TEST2.csv')

In [31]:
Data = pd.read_csv('Total_data')

In [32]:
X = Data.drop(['target'], axis = 1)
Y = Data['target']
X = X[['P_2', 'B_1', 'B_9', 'D_44', 'D_42', 'B_3', 'S_3', 'D_45', 'D_48', 'D_51', 'R_1', 'B_7', 'D_66', 'R_27', 'D_43', 'B_2', 'B_11','D_50', 'B_38', 'D_132', 'B_4', 'D_41', 'S_23', 'D_62', 'B_39','D_75', 'D_77', 'B_18', 'D_46', 'B_5', 'R_3', 'D_49', 'R_26','D_56', 'CO', 'S_2', 'B_6', 'B_10', 'D_61', 'D_52', 'S_7', 'O','D_55', 'D_112', 'P_3']]
X['y_pred'] = final_model.predict_proba(X)[:,1]
X = X[['B_1', 'S_23',"y_pred"]]

In [33]:
Sample_1 = pd.DataFrame(columns = ["Threshold", "Total", "Default", "Default_Rate", "Revenue"])
row = 0
length = 10
for t in range(1, length+1):
    table_gen(X,Y,t/length)
    row = row + 1
Sample_1

  Threshold   Total Default Default_Rate      Revenue
0       0.1  249746    3403     0.013626   512.473522
1       0.2  279502    7302     0.026125   617.575388
2       0.3  300622   12131     0.040353   700.215415
3       0.4  319493   18405     0.057607   773.735795
4       0.5  338804   26803     0.079111   843.262538
5       0.6  359490   37878     0.105366   908.007224
6       0.7  382470   52934       0.1384   964.693903
7       0.8  409228   73458     0.179504  1011.661968
8       0.9  438182   98872     0.225641  1042.529084
9       1.0  458913  118828     0.258934  1051.103814

In [34]:
Sample_1.to_csv('SAMPLE_TOTAL.csv')

In [35]:
Sample_1 = pd.DataFrame(columns = ["Threshold", "Total", "Default", "Default_Rate", "Revenue"])
row = 0
length = 100
for t in range(1, length+1):
    table_gen(X,Y,t/length)
    row = row + 1
Sample_1

   Threshold   Total Default Default_Rate      Revenue
0       0.01  147195     307     0.002086   266.267798
1       0.02  182255     702     0.003852   337.993943
2       0.03  200907    1058     0.005266   379.739978
3       0.04  213184    1388     0.006511   409.375131
4       0.05  222394    1698     0.007635   432.794896
..       ...     ...     ...          ...          ...
95      0.96  453893  113860     0.250852  1050.356405
96      0.97  455911  115845     0.254096  1050.833541
97      0.98  457656  117575     0.256907  1051.037763
98      0.99  458699  118614     0.258588  1051.103814
99       1.0  458913  118828     0.258934  1051.103814

[100 rows x 5 columns]

In [36]:
Sample_1.to_csv('SAMPLE_TOTAL_STRATEGY.csv')

In [37]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    display(Sample_1)

   Threshold   Total Default Default_Rate      Revenue
0       0.01  147195     307     0.002086   266.267798
1       0.02  182255     702     0.003852   337.993943
2       0.03  200907    1058     0.005266   379.739978
3       0.04  213184    1388     0.006511   409.375131
4       0.05  222394    1698     0.007635   432.794896
5       0.06  229610    2011     0.008758   452.120111
6       0.07  235793    2335     0.009903   469.849452
7       0.08  240938    2661     0.011044   484.846927
8       0.09  245603    3046     0.012402   498.972122
9        0.1  249746    3403     0.013626   512.473522
10      0.11  253566    3769     0.014864   523.447954
11      0.12  257222    4118      0.01601   535.979354
12      0.13  260524    4476     0.017181   547.202171
13      0.14  263617    4851     0.018402   558.089242
14      0.15  266635    5245     0.019671   569.030304
15      0.16  269395    5628     0.020891   579.022136
16      0.17  272099    6046      0.02222   589.145505
17      0.18  274664    6452     0.023491   598.934933
18      0.19  277093    6880     0.024829   608.104197
19       0.2  279502    7302     0.026125   617.575388
20      0.21  281832    7760     0.027534   626.400202
21      0.22  284130    8194     0.028839   635.170782
22      0.23  286395    8644     0.030182   644.058788
23      0.24  288555    9144     0.031689   652.216226
24      0.25  290616    9617     0.033092   659.991993
25      0.26  292624   10066     0.034399   668.357437
26      0.27  294685   10577     0.035893   676.320645
27      0.28  296651   11090     0.037384   684.197317
28      0.29  298646   11615     0.038892   692.124034
29       0.3  300622   12131     0.040353   700.215415
30      0.31  302579   12709     0.042002   707.976128
31      0.32  304550   13279     0.043602   715.819655
32      0.33  306441   13848      0.04519   723.274046
33      0.34  308306   14421     0.046775   730.871286
34      0.35  310153   15059     0.048553   737.960284
35      0.36  311997   15677     0.050247   745.015828
36      0.37  313890   16330     0.052025   752.279364
37      0.38  315773   17019     0.053896   759.675283
38      0.39  317655   17755     0.055894    766.75344
39       0.4  319493   18405     0.057607   773.735795
40      0.41  321398   19150     0.059583   780.959615
41      0.42  323263   19885     0.061513   787.857842
42      0.43  325165   20652     0.063512   794.880001
43      0.44  327113   21475      0.06565   802.141336
44      0.45  328955   22267      0.06769   809.093407
45      0.46  330923   23136     0.069914   816.008391
46      0.47  332831   23981     0.072052   822.723438
47      0.48  334888   24941     0.074476   829.791985
48      0.49  336824   25845     0.076731   836.324381
49       0.5  338804   26803     0.079111   843.262538
50      0.51  340818   27756     0.081439   850.249843
51      0.52  342806   28785     0.083969   856.697858
52      0.53  344773   29765     0.086332   863.656599
53      0.54  346786   30824     0.088885   869.859476
54      0.55  348833   31910     0.091476   876.573259
55      0.56  350972   33053     0.094176   883.084216
56      0.57  353013   34158     0.096761   889.410086
57      0.58  355119   35323     0.099468   895.460819
58      0.59  357340   36622     0.102485   901.821476
59       0.6  359490   37878     0.105366   908.007224
60      0.61  361630   39172     0.108321   914.040157
61      0.62  363750   40477     0.111277   919.758041
62      0.63  366005   41878     0.114419   925.783575
63      0.64  368291   43349     0.117703   931.649808
64      0.65  370585   44853     0.121033   936.957259
65      0.66  372891   46347     0.124291   942.934281
66      0.67  375195   47891     0.127643   948.452787
67      0.68  377555   49501     0.131109   953.946239
68      0.69  379960   51177      0.13469   959.301795
69       0.7  382470   52934       0.1384   964.693903
70      0.71  384964   54738      0.14219   969.786432
71      0.72  387594   56638     0.146127   975.081119
72      0.73  390224   58549     0.150039   980.375531
73      0.74  392855   60549     0.154126   984.954514
74      0.75  395521   62563     0.158179   989.969642
75      0.76  398180   64659     0.162386   994.091533
76      0.77  400848   66756     0.166537   998.285793
77      0.78  403637   68986     0.170911  1002.947082
78      0.79  406413   71169     0.175115  1007.588086
79       0.8  409228   73458     0.179504  1011.661968
80      0.81  412035   75769      0.18389  1015.473853
81      0.82  414880   78181     0.188442  1019.297397
82      0.83  417764   80635     0.193016  1022.977526
83      0.84  420589   83054     0.197471  1026.551907
84      0.85  423528   85592     0.202093   1030.02731
85      0.86  426417   88154     0.206732  1032.869004
86      0.87  429336   90747     0.211366  1035.826366
87      0.88  432317   93450     0.216161  1038.303553
88      0.89  435206   96120     0.220861  1040.429666
89       0.9  438182   98872     0.225641  1042.529084
90      0.91  441037  101513     0.230169  1044.871764
91      0.92  443777  104096     0.234568  1046.347346
92      0.93  446595  106770     0.239076  1047.800184
93      0.94  449154  109237     0.243206  1048.915819
94      0.95  451600  111609     0.247141  1049.864442
95      0.96  453893  113860     0.250852  1050.356405
96      0.97  455911  115845     0.254096  1050.833541
97      0.98  457656  117575     0.256907  1051.037763
98      0.99  458699  118614     0.258588  1051.103814
99       1.0  458913  118828     0.258934  1051.103814

## AGRESSIVE STRATEGY : 58% THRESHOLD
## CONSERVATIVE STRATEGY : 35% THRESHOLD